<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
			<div id="navigation">
				<ul>
						<th:block th:if="${menu == 'main' }">
							<li class="selected"><a th:href="@{/admin}">메인페이지 관리</a></li>
							<li><a th:href="@{/admin/guestbook}">방명록 관리</a></li>
							<li><a th:href="@{/admin/board}">게시판 관리</a></li>
							<li><a th:href="@{/admin/user}">사용자 관리</a></li>
						</th:block>
						<th:block th:if="${menu == 'guestbook' }">
							<li><a th:href="@{/admin}">메인페이지 관리</a></li>
							<li class="selected"><a th:href="@{/admin/guestbook}">방명록 관리</a></li>
							<li><a th:href="@{/admin/board}">게시판 관리</a></li>
							<li><a th:href="@{/admin/user}">사용자 관리</a></li>
						</th:block>
						<th:block th:if="${menu == 'board' }">
							<li><a th:href="@{/admin}">메인페이지 관리</a></li>
							<li><a th:href="@{/admin/guestbook}">방명록 관리</a></li>
							<li class="selected"><a th:href="@{/admin/board}">게시판 관리</a></li>
							<li><a th:href="@{/admin/user}">사용자 관리</a></li>
						</th:block>
						<th:block th:if="${menu == 'user' }">
							<li><a th:href="@{/admin}">메인페이지 관리</a></li>
							<li><a th:href="@{/admin/guestbook}">방명록 관리</a></li>
							<li><a th:href="@{/admin/board}">게시판 관리</a></li>
							<li class="selected"><a th:href="@{/admin/user}">사용자 관리</a></li>
						</th:block>															
				</ul>
			</div>
			<div id="footer">&nbsp;</div>